@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400&display=swap');

* {
  font-family: 'JetBrains Mono', monospace;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

/* On screens that are 600px or less, adjust grid item size and rows */
@media screen and (max-width: 800px) {
  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(7rem, 1fr));
    gap: 1rem;
  }

  .card {
    max-width: 7rem; /* Adjust the max-width as needed */
    max-height: 7rem; /* Adjust the max-height as needed */
  }


}

.card {
  border: 1px solid rgb(197, 197, 197);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
  transition: transform 0.05s ease-in-out; 
}

.card:hover {
  transform: scale(1.05); 
}


.top-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image-card {
  overflow: hidden;
  margin: 1rem;
}


